[access]
	inheritFrom = All-Projects
[project]
	description = A place for files to learn about test automation with cucumber, and to learn about how to use git
[access "refs/*"]
	owner = group user/Steve Fraser (swbfraser)
[access "refs/for/refs/*"]
	read = group user/Steve Fraser (swbfraser)
	push = group user/Steve Fraser (swbfraser)
	label-Code-Review = -2..+2 group user/Steve Fraser (swbfraser)
	label-Verified = -1..+1 group user/Steve Fraser (swbfraser)
	rebase = group user/Steve Fraser (swbfraser)
	removeReviewer = group user/Steve Fraser (swbfraser)
	submit = group user/Steve Fraser (swbfraser)
[access "refs/heads/*"]
	read = group user/Steve Fraser (swbfraser)
	create = group user/Steve Fraser (swbfraser)
	push = +force group user/Steve Fraser (swbfraser)
	pushMerge = group user/Steve Fraser (swbfraser)
[access "refs/tags/*"]
	push = group user/Steve Fraser (swbfraser)
	push = +force group user/Steve Fraser (swbfraser)
